footer.footer
    .footer__top
        .footer__overlay
        .container
            .row
                .col-xs-24.col-sm-12.col-md-14.footer__contact
                    .icon.wow.fadeInUp
                        i.fa.fa-map-marker
                    p.wow.fadeInUp= site.data.footer.address
                    p.wow.fadeInUp= site.data.footer.phone
                    p.wow.fadeInUp
                        a(href="mailto:#{site.data.footer.email}", taget="_blank")= site.data.footer.email
                .hidden-xs.col-sm-12.col-md-10.footer__menu
                    ul
                        li.wow.fadeInRightBig
                            a(href="/") Inicio
                        each item, index in site.data.header
                            li.wow.fadeInRightBig(data-wow-delay="#{(index + 1)/8}s")
                                a(href=item.url)= item.name
    .footer__bottom
        .container
            .row
                .col-xs-24.footer__copyright
                    .footer__logo
                        | <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logoOriginal"></use></svg>
                    p= site.data.footer.disclaimer
                
    .footer__credits
        .container
            .row
                .col-xs-24
                    a(href="#")
                        |Diseño y Desarrollo por:
                        img(src="/images/creatos.png")
